<div class="card card-plain">
    <div class="row">
        <div class="col-md-4">
            <div class="card-body">
                <mat-card class="items-card">
                    <mat-card-header>
                        <mat-card-title>Create Item</mat-card-title>
                        <mat-card-subtitle>Add a new item into your inventory</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <mat-card class="items-card">
                    <mat-card-header>
                        <mat-card-title>Update Item</mat-card-title>
                        <mat-card-subtitle>Update details of an item in your inventory</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <mat-card class="items-card">
                    <mat-card-header>
                        <mat-card-title>Item Details</mat-card-title>
                        <mat-card-subtitle>Show all details of an item in your inventory</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <mat-card class="items-card">
                    <mat-card-header>
                        <mat-card-title>Ownership History</mat-card-title>
                        <mat-card-subtitle>View ownership history of an item in your inventory</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <mat-card class="items-card" routerLink="/my-items">
                    <mat-card-header>
                        <mat-card-title>My Items</mat-card-title>
                        <mat-card-subtitle>Show all items in your inventory</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <mat-card class="items-card">
                    <mat-card-header>
                        <mat-card-title>Ownership Transfer</mat-card-title>
                        <mat-card-subtitle>Transfer ownership of an item in your inventory</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
        </div>
    </div>
</div>