<div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="card-header">
                    <h4 class="card-title">New Item</h4>
                    <p class="card-category">Fill the below details to add the item into your inventory</p>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-label>Item Name</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-label>Description</mat-label>
                                    <textarea matInput></textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-label>Purchase Date</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-label>Purchase Price</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-label>Category</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-label>Model</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-label>Serial No.</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-label>Location</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-label>Condition</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                        </div>
                        <button mat-raised-button type="submit" class="btn pull-right">Cancel</button>
                        <button mat-raised-button type="submit" class="btn btn-warning pull-right">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>